{% extends 'base.html' %}
{% load static %}

{% block main %} 
    <section id="form" class="border">
        <legend><h2>MapaJUD</h2></legend>
          <form method="POST" action="" enctype="multipart/form-data">   
            {% csrf_token %}     
            <div class="row col-sm-12">       
              <div class="form-group ">
                <label class="col-form-label " for="inputDefault">Nome da Área</label>
                <input type="text" name="area" class="form-control" placeholder="Nome da Área">
              </div>
            </div>  
            <div class="row col-md-12">
              <div class="col-md-6">
                    <div class="form-group ">
                        <label class="col-form-label" for="inputDefault">Latitude</label>
                        <input type="text" name="latitude"  class="form-control" placeholder="ex.-15.65355">
                    </div>
              </div>
                <div class="col-md-6">
                    <div class="form-group ">
                      <label class="col-form-label" for="inputDefault">Longitude</label>
                      <input type="text" name="longitude" class="form-control" placeholder="ex.-56.96858">
                    </div>  
                </div> 
            </div>   
            
                <div class="col-md-12" style="align-items: center;"> 
                    <button  type="submit" class="mt-4 btn-submit col-md-4 ml-1 ">capturar</button>
                    <button  type="submit" class="mt-4 btn-submit col-md-4">enviar</button>
                </div>
               
          </form>   
     </section>    
 {% endblock %}
