<div class="inside_info">

    <span class="retangulo blue "></span>
    <span>Nome:</span>
    <span class="text-uppercase pl-3" >Terra Indígena Guato</span>
  </div>
  <div class="inside_info">
    <span class="retangulo orange"></span>
    <span>Código SireneJud:</span>
    <span class="text-uppercase pl-3" >5106505.2187.3/3-3</span>
  </div>
  <div class="inside_info">
    <span class="retangulo green"></span>
    <span>Nome:</span>
    <span class="text-uppercase pl-3" >Terra Indígena Guato</span>
  </div>
  <div class="inside_info ">
    <span class="retangulo red"></span>
    <span>Código SireneJud:</span>
    <span class="text-uppercase pl-3" >5106505.2187.3/3-3</span>
  </div>
  <div class="inside_info">
    <span class="retangulo"></span>
    <span>Nome:</span>
    <span class="text-uppercase pl-3" >Terra Indígena Guato</span>
  </div>
  <div class="inside_info">
    <span class="retangulo"></span>
    <span>Código SireneJud:</span>
    <span class="text-uppercase pl-3" >5106505.2187.3/3-3</span>
  </div>
  <div class="inside_info">
    <span class="retangulo"></span>
    <span>Nome:</span>
    <span class="text-uppercase pl-3" >Terra Indígena Guato</span>
  </div>
  <div class="inside_info">
    <span class="retangulo"></span>
    <span>Código SireneJud:</span>
    <span class="text-uppercase pl-3" >5106505.2187.3/3-3</span>
  </div>
  <div class="inside_info">
    <span class="retangulo"></span>
    <span>Nome:</span>
    <span class="text-uppercase pl-3" >Terra Indígena Guato</span>
  </div>
  <div class="inside_info">
    <span class="retangulo"></span>
    <span>Código SireneJud:</span>
    <span class="text-uppercase pl-3" >5106505.2187.3/3-3</span>
  </div>
  <div class="inside_info">
    <span class="retangulo"></span>
    <span>Nome:</span>
    <span class="text-uppercase pl-3" >Terra Indígena Guato</span>
  </div>
  <div class="inside_info">
    <span class="retangulo"></span>
    <span>Código SireneJud:</span>
    <span class="text-uppercase pl-3" >5106505.2187.3/3-3</span>
  </div>
  <div class="inside_info">
    <span class="retangulo"></span>
    <span>Nome:</span>
    <span class="text-uppercase pl-3" >Terra Indígena Guato</span>
  </div>
  <div class="inside_info">
    <span class="retangulo"></span>
    <span>Código SireneJud:</span>
    <span class="text-uppercase pl-3" >5106505.2187.3/3-3</span>
  </div>
  <div class="inside_info">
    <span class="retangulo"></span>
    <span>Nome:</span>
    <span class="text-uppercase pl-3" >Terra Indígena Guato</span>
  </div>
  <div class="inside_info">
    <span class="retangulo"></span>
    <span>Código SireneJud:</span>
    <span class="text-uppercase pl-3" >5106505.2187.3/3-3</span>
  </div>
  <div class="inside_info">
    <span class="retangulo"></span>
    <span>Nome:</span>
    <span class="text-uppercase pl-3" >Terra Indígena Guato</span>
  </div>
  <div class="inside_info">
    <span class="retangulo"></span>
    <span>Código SireneJud:</span>
    <span class="text-uppercase pl-3" >5106505.2187.3/3-3</span>
  </div>
  <div class="inside_info">
    <span class="retangulo"></span>
    <span>Nome:</span>
    <span class="text-uppercase pl-3" >Terra Indígena Guato</span>
  </div>
  <div class="inside_info">
    <span class="retangulo"></span>
    <span>Código SireneJud:</span>
    <span class="text-uppercase pl-3" >5106505.2187.3/3-3</span>
  </div>
  <div class="inside_info">
    <span class="retangulo"></span>
    <span>Nome:</span>
    <span class="text-uppercase pl-3" >Terra Indígena Guato</span>
  </div>
  <div class="inside_info">
    <span class="retangulo"></span>
    <span>Código SireneJud:</span>
    <span class="text-uppercase pl-3" >5106505.2187.3/3-3</span>
  </div>
  <div class="inside_info">
    <span class="retangulo"></span>
    <span>Nome:</span>
    <span class="text-uppercase pl-3" >Terra Indígena Guato</span>
  </div>
  <div class="inside_info">
    <span class="retangulo"></span>
    <span>Código SireneJud:</span>
    <span class="text-uppercase pl-3" >5106505.2187.3/3-3</span>
  </div>
  <div class="inside_info">
    <span class="retangulo"></span>
    <span>Nome:</span>
    <span class="text-uppercase pl-3" >Terra Indígena Guato</span>
  </div>
  <div class="inside_info">
    <span class="retangulo"></span>
    <span>Código SireneJud:</span>
    <span class="text-uppercase pl-3" >5106505.2187.3/3-3</span>
  </div>