{% extends 'geo/index.html' %}
{% load static %}


{% block map %}
    {{mapa | safe}}
{% endblock %}

{% block info %}
    {% if flores_nome %}
       <div class="inside_info green">
        <span class="retangulo green"></span>
        <span class="green text-center">{{flores_nome}}</span>
        <!-- <span class="green">{{flores_nome}}</span> -->
        <span class="text-uppercase pl-3 text-center green">Sirenejud : {{flores_sirene}}</span>
      </div>
    {% endif %}
    {% if desmata %}

    <div class="inside_info ">
        <span class="retangulo red"></span>
        <span class="red text-center"></span>
        <span class="text-uppercase pl-3 text-center red" >{{desmata}}</span>
      </div>
    <!-- <textarea>{{desmata | linebreaks}}</textarea> -->

    {% endif %}
    {% if rural %}
    <div class="inside_info orange">
        <span class="retangulo orange"></span>
        <span class="orange text-center">CAR</span>
        <span class="text-uppercase pl-3 text-center orange">{{rural}}</span>
      </div>
    
    {% endif %}
    {% if sigef %}

    <div class="inside_info">
        <span class="retangulo green"></span>
        <span class="green text-center">SIGEF</span>
        <span class="text-uppercase pl-3 text-center green">{{sigef}}</span>
      </div>

    
    {% endif %}
   
{% endblock %}